n8n/daily-pipeline.json
{
  "name": "Doomscroller Pipeline",
  "nodes": [

    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      }
    },

    {
      "id": "set-apify-config",
      "name": "Set Apify Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300],
      "parameters": {
        "jsCode": "// Hardcoded subreddits — edit this array to change sources\nconst subreddits = ['cscareerquestions', 'jobs', 'layoffs', 'engineering', 'techjobs'];\n\nreturn [{\n  json: {\n    actorInput: {\n      startUrls: subreddits.map(s => ({ url: `https://www.reddit.com/r/${s}/` })),\n      maxItems: 100,\n      sort: 'hot',\n      time: 'day',\n      includeComments: false,\n      proxy: { useApifyProxy: true, apifyProxyGroups: ['RESIDENTIAL'] }\n    }\n  }\n}];"
      }
    },

    {
      "id": "apify-run-actor",
      "name": "Apify: Run Reddit Scraper",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [580, 300],
      "credentials": {
        "apifyApi": { "id": "apify-cred", "name": "Apify account" }
      },
      "parameters": {
        "resource": "actor",
        "operation": "run",
        "actorId": "apify~reddit-scraper",
        "waitForCompletion": true,
        "input": "={{ JSON.stringify($json.actorInput) }}"
      }
    },

    {
      "id": "apify-get-dataset",
      "name": "Apify: Get Dataset Items",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [820, 300],
      "credentials": {
        "apifyApi": { "id": "apify-cred", "name": "Apify account" }
      },
      "parameters": {
        "resource": "dataset",
        "operation": "getItems",
        "datasetId": "={{ $json.defaultDatasetId }}"
      }
    },

    {
      "id": "prepare-posts",
      "name": "Prepare Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300],
      "parameters": {
        "jsCode": "// Normalize Apify output into consistent post objects\nconst today = new Date().toISOString().split('T')[0];\n\nconst posts = items\n  .map(item => item.json)\n  .filter(p => p && p.title)\n  .map(p => ({\n    reddit_id: p.id ? `t3_${p.id}` : (p.reddit_id || p.datasetItemId || ''),\n    title: (p.title || '').substring(0, 300),\n    body: (p.body || p.selftext || '').substring(0, 1000),\n    upvotes: p.upVotes || p.ups || p.score || 0,\n    subreddit: p.community || p.subreddit || '',\n    url: p.url || p.postUrl || '',\n    date: today\n  }))\n  .filter(p => p.reddit_id)\n  .slice(0, 100);\n\nconsole.log(`Prepared ${posts.length} posts`);\nreturn posts.map(p => ({ json: p }));"
      }
    },

    {
      "id": "split-in-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 300],
      "parameters": {
        "batchSize": 20,
        "options": {}
      }
    },

    {
      "id": "build-sentiment-prompt",
      "name": "Build Sentiment Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "jsCode": "// Combine all 20 posts in this batch into a single prompt\nconst posts = items.map(i => i.json);\n\nconst postsText = posts.map((p, i) =>\n  `[${i + 1}] Title: ${p.title}\\nBody: ${p.body || '(no body)'}\\nUpvotes: ${p.upvotes}\\nSubreddit: r/${p.subreddit}`\n).join('\\n\\n---\\n\\n');\n\nconst prompt = `You are a job market sentiment analyst.\\n\\nAnalyze these ${posts.length} Reddit posts and for EACH post provide:\\n- title: the exact post title\\n- sentiment: 0-100 (0-44 bearish, 45-55 mixed, 56-100 bullish)\\n- status: \"bullish\" | \"bearish\" | \"neutral\"\\n- evidence: a SPECIFIC quote or fact EXTRACTED from the post\\n\\nPosts:\\n${postsText}\\n\\nRespond ONLY as a valid JSON array (no markdown, no code blocks):\\n[{\"title\": \"...\", \"sentiment\": 45, \"status\": \"neutral\", \"evidence\": \"specific quote\"}, ...]`;\n\nreturn [{ json: { prompt, posts } }];"
      }
    },

    {
      "id": "llm-chain-sentiment",
      "name": "LLM Chain: Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1780, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      }
    },

    {
      "id": "openai-model-sentiment",
      "name": "OpenAI Chat Model (Sentiment)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [1780, 500],
      "credentials": {
        "openAiApi": { "id": "openai-cred", "name": "OpenAI account" }
      },
      "parameters": {
        "model": "gpt-4o-mini",
        "options": { "temperature": 0.3 }
      }
    },

    {
      "id": "parse-sentiment",
      "name": "Parse Sentiment Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 300],
      "parameters": {
        "jsCode": "// Parse LLM output and merge sentiment back onto original posts\nconst chainOutput = items[0].json.output || '';\nconst originalPosts = $('Build Sentiment Prompt').item.json.posts;\n\nlet sentiments = [];\ntry {\n  // Strip any markdown code fences the LLM might add\n  const cleaned = chainOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  sentiments = JSON.parse(cleaned);\n  if (!Array.isArray(sentiments)) sentiments = Object.values(sentiments);\n} catch (e) {\n  console.error('Failed to parse sentiment JSON:', e.message, chainOutput.substring(0, 200));\n  sentiments = [];\n}\n\nconst mergedPosts = originalPosts.map((post, i) => {\n  const ai = sentiments.find(s => s.title === post.title) || sentiments[i] || {};\n  return {\n    ...post,\n    sentiment: Math.min(100, Math.max(0, Number(ai.sentiment) || 50)),\n    status: ai.status || 'neutral',\n    evidence: ai.evidence || ''\n  };\n});\n\nreturn mergedPosts.map(p => ({ json: p }));"
      }
    },

    {
      "id": "aggregate-sentiments",
      "name": "Aggregate Batch Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2260, 300],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allPosts",
        "include": "allFields"
      }
    },

    {
      "id": "db-upsert-posts",
      "name": "DB: Upsert Posts",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [2500, 300],
      "parameters": {
        "resource": "dataTable",
        "operation": "upsert",
        "tableName": "posts",
        "conflictTarget": "reddit_id",
        "dataToSend": "=allPosts",
        "additionalFields": {}
      }
    },

    {
      "id": "db-query-7d",
      "name": "DB: Get Posts 7d",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [2740, 300],
      "parameters": {
        "resource": "dataTable",
        "operation": "getAll",
        "tableName": "posts",
        "filterType": "string",
        "filterString": "={{ `date >= '${new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0]}'` }}"
      }
    },

    {
      "id": "db-query-30d",
      "name": "DB: Get Posts 30d",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [2980, 300],
      "parameters": {
        "resource": "dataTable",
        "operation": "getAll",
        "tableName": "posts",
        "filterType": "string",
        "filterString": "={{ `date >= '${new Date(Date.now() - 30*24*60*60*1000).toISOString().split('T')[0]}'` }}"
      }
    },

    {
      "id": "calculate-aggregates",
      "name": "Calculate Aggregates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3220, 300],
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\n\n// Get posts from previous DB query nodes\nconst weeklyPosts = $('DB: Get Posts 7d').all().map(i => i.json);\nconst monthlyPosts = $('DB: Get Posts 30d').all().map(i => i.json);\nconst todayPosts = weeklyPosts.filter(p => p.date === today);\n\nconsole.log(`Calculating aggregates: today=${todayPosts.length}, 7d=${weeklyPosts.length}, 30d=${monthlyPosts.length}`);\n\nfunction calcAggregate(posts) {\n  if (!posts.length) return null;\n  const totalWeight = posts.reduce((s, p) => s + Math.max(p.upvotes || 1, 1), 0);\n  const weightedSum = posts.reduce((s, p) => s + (p.sentiment || 50) * Math.max(p.upvotes || 1, 1), 0);\n  const sentiment = Math.round(Math.min(100, Math.max(0, weightedSum / totalWeight)));\n  let status, topPosts;\n  if (sentiment < 45) {\n    status = 'bearish';\n    topPosts = [...posts].sort((a, b) => a.sentiment - b.sentiment).slice(0, 5);\n  } else if (sentiment > 55) {\n    status = 'bullish';\n    topPosts = [...posts].sort((a, b) => b.sentiment - a.sentiment).slice(0, 5);\n  } else {\n    status = 'mixed';\n    const bull = posts.filter(p => p.sentiment > 55).sort((a, b) => b.sentiment - a.sentiment).slice(0, 2);\n    const bear = posts.filter(p => p.sentiment < 45).sort((a, b) => a.sentiment - b.sentiment).slice(0, 2);\n    const neut = posts.filter(p => p.sentiment >= 45 && p.sentiment <= 55).slice(0, 1);\n    topPosts = [...bull, ...bear, ...neut];\n    if (topPosts.length < 5) {\n      const used = new Set(topPosts.map(p => p.reddit_id));\n      topPosts.push(...posts.filter(p => !used.has(p.reddit_id)).slice(0, 5 - topPosts.length));\n    }\n  }\n  return {\n    sentiment,\n    status,\n    postCount: posts.length,\n    topPosts: topPosts.map(p => ({ reddit_id: p.reddit_id, title: p.title, sentiment: p.sentiment, upvotes: p.upvotes, status: p.status, evidence: p.evidence, url: p.url }))\n  };\n}\n\nconst daily = calcAggregate(todayPosts) || { sentiment: 50, status: 'mixed', postCount: 0, topPosts: [] };\nconst weekly = calcAggregate(weeklyPosts) || daily;\nconst monthly = calcAggregate(monthlyPosts) || daily;\n\nreturn [{ json: { date: today, daily, weekly, monthly } }];"
      }
    },

    {
      "id": "build-insight-items",
      "name": "Build Insight Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3460, 300],
      "parameters": {
        "jsCode": "// Create 3 separate items — one per period — so the LLM chain runs 3 times\nconst { date, daily, weekly, monthly } = items[0].json;\n\nfunction buildPrompt(period, aggregate, contextNote) {\n  const postsList = (aggregate.topPosts || []).map(p =>\n    `- \"${p.title}\" (${p.status}, score:${p.sentiment}, evidence:\"${p.evidence}\")`\n  ).join('\\n') || '(no posts yet)';\n\n  return `You are a cynical job market analyst for tech workers.\\n\\n${period} sentiment: ${aggregate.sentiment}/100\\nStatus: ${aggregate.status} | Posts analysed: ${aggregate.postCount}\\n${contextNote}\\n\\nTop posts:\\n${postsList}\\n\\nGenerate:\\n1. message: 2-3 sentences (be witty, slightly dark, factual)\\n2. evidence: 3-5 SPECIFIC phrases/stats from the posts above\\n\\nRespond ONLY as JSON (no markdown):\\n{\"message\": \"...\", \"evidence\": [\"...\"]}`;\n}\n\nreturn [\n  { json: { period: 'daily',   aggregate: daily,   prompt: buildPrompt('Daily',   daily,   '') } },\n  { json: { period: 'weekly',  aggregate: weekly,  prompt: buildPrompt('Weekly',  weekly,  `Daily today: ${daily.sentiment}`) } },\n  { json: { period: 'monthly', aggregate: monthly, prompt: buildPrompt('Monthly', monthly, `Daily: ${daily.sentiment}, Weekly: ${weekly.sentiment}`) } }\n];"
      }
    },

    {
      "id": "llm-chain-insights",
      "name": "LLM Chain: Insight Messages",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [3700, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      }
    },

    {
      "id": "openai-model-insights",
      "name": "OpenAI Chat Model (Insights)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [3700, 500],
      "credentials": {
        "openAiApi": { "id": "openai-cred", "name": "OpenAI account" }
      },
      "parameters": {
        "model": "gpt-4o-mini",
        "options": { "temperature": 0.7 }
      }
    },

    {
      "id": "parse-insight",
      "name": "Parse Insight Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, 300],
      "parameters": {
        "jsCode": "// Parse LLM insight and merge with original aggregate data\nconst chainOutput = items[0].json.output || '';\nconst { period, aggregate } = $input.item.json;\n\nlet insight = { message: '', evidence: [] };\ntry {\n  const cleaned = chainOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  insight = JSON.parse(cleaned);\n} catch (e) {\n  console.error(`Failed to parse ${period} insight:`, e.message);\n  insight = { message: 'Market data collected. Analysis unavailable.', evidence: [] };\n}\n\nreturn [{\n  json: {\n    period,\n    ...aggregate,\n    message: insight.message || '',\n    evidence: Array.isArray(insight.evidence) ? insight.evidence : []\n  }\n}];"
      }
    },

    {
      "id": "aggregate-insights",
      "name": "Aggregate Insights",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [4180, 300],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "insights",
        "include": "allFields"
      }
    },

    {
      "id": "build-final-aggregate",
      "name": "Build Final Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 300],
      "parameters": {
        "jsCode": "// Reconstruct the full aggregate object from the 3 insight items\nconst insights = items[0].json.insights;\nconst today = new Date().toISOString().split('T')[0];\n\nconst byPeriod = {};\nfor (const item of insights) {\n  byPeriod[item.period] = item;\n}\n\nreturn [{\n  json: {\n    date: today,\n    daily:   byPeriod.daily   || {},\n    weekly:  byPeriod.weekly  || {},\n    monthly: byPeriod.monthly || {}\n  }\n}];"
      }
    },

    {
      "id": "db-upsert-aggregate",
      "name": "DB: Upsert Aggregate",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [4660, 300],
      "parameters": {
        "resource": "dataTable",
        "operation": "upsert",
        "tableName": "aggregates",
        "conflictTarget": "date",
        "dataToSend": "allInputData",
        "additionalFields": {}
      }
    },

    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 650],
      "webhookId": "doom-endpoint",
      "parameters": {
        "path": "doom",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },

    {
      "id": "check-auth",
      "name": "Check Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 650],
      "parameters": {
        "jsCode": "const authHeader = $input.item.json.headers?.authorization || '';\nconst secret = $env['WEBHOOK_SECRET'];\n\nif (secret && authHeader !== `Bearer ${secret}`) {\n  throw new Error('401: Unauthorized');\n}\n\nreturn [{ json: { authenticated: true } }];"
      }
    },

    {
      "id": "db-get-latest-aggregate",
      "name": "DB: Get Latest Aggregate",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [580, 650],
      "parameters": {
        "resource": "dataTable",
        "operation": "getAll",
        "tableName": "aggregates",
        "sort": [{ "field": "date", "direction": "desc" }],
        "limit": 1
      }
    },

    {
      "id": "db-get-history",
      "name": "DB: Get Aggregate History",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [820, 650],
      "parameters": {
        "resource": "dataTable",
        "operation": "getAll",
        "tableName": "aggregates",
        "filterType": "string",
        "filterString": "={{ `date >= '${new Date(Date.now() - 30*24*60*60*1000).toISOString().split('T')[0]}'` }}",
        "sort": [{ "field": "date", "direction": "asc" }],
        "limit": 30
      }
    },

    {
      "id": "build-webhook-response",
      "name": "Build Webhook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 650],
      "parameters": {
        "jsCode": "const latest = $('DB: Get Latest Aggregate').first()?.json;\nconst historyItems = $('DB: Get Aggregate History').all().map(i => i.json);\n\nif (!latest) {\n  return [{ json: { error: 'No data yet. Run the pipeline first.', daily: null, weekly: null, monthly: null, history: [] } }];\n}\n\nconst history = historyItems.map(a => ({\n  date: a.date,\n  sentiment: a.daily?.sentiment ?? 50\n}));\n\nreturn [{\n  json: {\n    daily:   { ...latest.daily,   top_posts: latest.daily?.topPosts   || [] },\n    weekly:  { ...latest.weekly,  top_posts: latest.weekly?.topPosts  || [] },\n    monthly: { ...latest.monthly, top_posts: latest.monthly?.topPosts || [] },\n    history\n  }\n}];"
      }
    },

    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 650],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },

    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [100, 1000],
      "parameters": {}
    },

    {
      "id": "discord-notify",
      "name": "Discord: Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 1000],
      "parameters": {
        "method": "POST",
        "url": "={{ $env['DISCORD_WEBHOOK_URL'] }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "⚠️ Doomscroller pipeline error",
          "embeds": [{
            "title": "Workflow Error",
            "color": 15158332,
            "fields": [
              { "name": "Error",     "value": "={{ $json.execution?.error?.message || 'Unknown error' }}" },
              { "name": "Node",      "value": "={{ $json.execution?.lastNodeExecuted || '?' }}" },
              { "name": "Timestamp", "value": "={{ new Date().toISOString() }}" }
            ]
          }]
        }
      }
    }

  ],

  "connections": {

    "Schedule Trigger": {
      "main": [[{ "node": "Set Apify Config", "type": "main", "index": 0 }]]
    },
    "Set Apify Config": {
      "main": [[{ "node": "Apify: Run Reddit Scraper", "type": "main", "index": 0 }]]
    },
    "Apify: Run Reddit Scraper": {
      "main": [[{ "node": "Apify: Get Dataset Items", "type": "main", "index": 0 }]]
    },
    "Apify: Get Dataset Items": {
      "main": [[{ "node": "Prepare Posts", "type": "main", "index": 0 }]]
    },
    "Prepare Posts": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },

    "Split In Batches": {
      "main": [
        [{ "node": "Build Sentiment Prompt", "type": "main", "index": 0 }],
        [{ "node": "Aggregate Batch Results", "type": "main", "index": 0 }]
      ]
    },
    "Build Sentiment Prompt": {
      "main": [[{ "node": "LLM Chain: Sentiment Analysis", "type": "main", "index": 0 }]]
    },
    "LLM Chain: Sentiment Analysis": {
      "main": [[{ "node": "Parse Sentiment Response", "type": "main", "index": 0 }]]
    },
    "Parse Sentiment Response": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },

    "OpenAI Chat Model (Sentiment)": {
      "ai_languageModel": [[{ "node": "LLM Chain: Sentiment Analysis", "type": "ai_languageModel", "index": 0 }]]
    },

    "Aggregate Batch Results": {
      "main": [[{ "node": "DB: Upsert Posts", "type": "main", "index": 0 }]]
    },
    "DB: Upsert Posts": {
      "main": [[{ "node": "DB: Get Posts 7d", "type": "main", "index": 0 }]]
    },
    "DB: Get Posts 7d": {
      "main": [[{ "node": "DB: Get Posts 30d", "type": "main", "index": 0 }]]
    },
    "DB: Get Posts 30d": {
      "main": [[{ "node": "Calculate Aggregates", "type": "main", "index": 0 }]]
    },
    "Calculate Aggregates": {
      "main": [[{ "node": "Build Insight Items", "type": "main", "index": 0 }]]
    },
    "Build Insight Items": {
      "main": [[{ "node": "LLM Chain: Insight Messages", "type": "main", "index": 0 }]]
    },
    "LLM Chain: Insight Messages": {
      "main": [[{ "node": "Parse Insight Response", "type": "main", "index": 0 }]]
    },
    "Parse Insight Response": {
      "main": [[{ "node": "Aggregate Insights", "type": "main", "index": 0 }]]
    },

    "OpenAI Chat Model (Insights)": {
      "ai_languageModel": [[{ "node": "LLM Chain: Insight Messages", "type": "ai_languageModel", "index": 0 }]]
    },

    "Aggregate Insights": {
      "main": [[{ "node": "Build Final Aggregate", "type": "main", "index": 0 }]]
    },
    "Build Final Aggregate": {
      "main": [[{ "node": "DB: Upsert Aggregate", "type": "main", "index": 0 }]]
    },

    "Webhook Trigger": {
      "main": [[{ "node": "Check Auth", "type": "main", "index": 0 }]]
    },
    "Check Auth": {
      "main": [[{ "node": "DB: Get Latest Aggregate", "type": "main", "index": 0 }]]
    },
    "DB: Get Latest Aggregate": {
      "main": [[{ "node": "DB: Get Aggregate History", "type": "main", "index": 0 }]]
    },
    "DB: Get Aggregate History": {
      "main": [[{ "node": "Build Webhook Response", "type": "main", "index": 0 }]]
    },
    "Build Webhook Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },

    "Error Trigger": {
      "main": [[{ "node": "Discord: Error Notification", "type": "main", "index": 0 }]]
    }

  },

  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "doomscroller" }],
  "versionId": "2"
}
